* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #405362;
    font-family: 'IRANSans', sans-serif;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 260px;
    margin: 50px auto;
    border-radius: 12px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-content h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.description {
    color: #555;
    font-size: .8rem;
}

.btn {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #2196f3;
    transition: all .2s ease;
    box-shadow: 0px 3px 6px #00000045;
    font-family: 'IRANSans', sans-serif;
}

.btn:hover {
    background: #0c85e9;
    box-shadow: 0px 3px 14px #0000006e;
}

.btn-figure {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 20px 10px;
}

.game-board {
    width: 260px;
    height: 260px;
    margin: 50px auto;
    display: block;
    color: #555;
    display: flex;
    flex-wrap: wrap;
}

.game-board-inner {
    padding: 4px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-field {
    width: 83px;
    height: 83px;
    font-size: 50px;
    /* if browser don't support flexbox*/
    display: block;
    float: right;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field[onclick] {
    cursor: pointer;
}

#field-0,
#field-1,
#field-2,
#field-3,
#field-4,
#field-5 {
    border-bottom: 3px solid #999;
}

#field-0,
#field-3,
#field-6,
#field-1,
#field-4,
#field-7 {
    border-left: 3px solid #999;
}

.winner {
    font-weight: 600;
    color: #2196f3;
}

.alert {
    display: none;
    width: 250px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.alert p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-alert {
    padding: 10px 15px;
    font-size: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

.footer a {
    color: #2196f3;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}